.site-nav {
    max-width: 1702px;
    padding: 40px 12px 12px 12px;
    display: flex;
    align-items: center;
    margin: 0px auto 158px;
}
.logo-lang-menu__container{
    display: flex;
    align-items: center;

}
.logo{
    margin-right: 40px;
    width:126px;
    height:32px;
}
.logo img{
    width:126px;
    height:32px;
    object-fit: contain;
}
.site-nav .nice-select{
    position: relative;
    padding: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-family: var(--montserrat);
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
letter-spacing: -0.015em;
text-transform: uppercase;
color: var(--white);
margin-right: 200px;

}
.site-nav .nice-select.open .list {
    background: var(--white);
border-radius: 20px;
    opacity: 1;
    transition: 0.3s;
    padding: 10px 17px;
}
.site-nav .nice-select .list{
    background-color: transparent;
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    opacity: 0;
    transition: 0.3s;
    font-family: var(--montserrat);
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 18px;
letter-spacing: -0.015em;
color: var(--black);
}
.site-nav .nice-select .option{
    padding-left: 0;
    padding-right: 10px;
}
.site-nav .nice-select .option:focus{
   background-color:transparent;
}
.site-nav .nice-select .option:hover, .site-nav .nice-select .option.focus,  .site-nav .nice-select .option.selected.focus {
    background-color:transparent; }
.site-nav .nice-select .option.selected.focus {
    background-color: transparent;
}
.menu{
    margin-right: 202px;
}
.menu ul{
    width: 879px;
    display: flex;
    justify-content: space-between;
}
.burger-account{
    display: none;
}
.menu ul li a{
    text-decoration: none;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-family: var(--montserrat);
    font-size: var(--font-menu);
    color: var(--white);
}
.menu-action {
    min-width: 200px;
    display: flex;
    justify-content: space-between;
}
.menu-action img{
    width: 32px;
    height: 32px;
}
