.like__title {
    color: var(--black);
}
.like-page_container {
    max-width: 1582px;
    margin: 0 auto;
    padding: 12px;
    position: relative;
}
.like-list__item {
    max-width: 1580px;
    position: relative;
    background: #FAFAFA;
    border: 1px solid #AFAFAF;
    border-radius: 20px;
    padding: 25px 52px 25px 25px;
    display: flex;
    margin-bottom: 55px;
}
.like-list__item img {
    max-width: 245px;
    max-height: 145px;
}
.like-item__info {
    margin-left: 30px;
}
.like-item__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 30px;
}
.like-item__description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;

    color: #868686;
}
.like-item__delete {
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #B5B5B5;
    position: absolute;
    right: 0;
    top: calc(0% - 30px);
}
